.mat-elevation-z8 {
  margin: 20px;

  .table-title {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .full-width-table {
    width: 100%;
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}