<div class="mat-elevation-z8">
  <h2 class="table-title">Dishes Table</h2>
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{row._id.slice(-4)}}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TITLE</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isEditing">{{row.title}}</ng-container>
        <input *ngIf="row.isEditing" type="text" [(ngModel)]="row.title">
      </td>
    </ng-container>


    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPTION</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isEditing">{{ row.description }}</ng-container>
        <input *ngIf="row.isEditing" type="text" [(ngModel)]="row.description" />
      </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isEditing">{{row.price}}</ng-container>
        <input *ngIf="row.isEditing" type="number" [(ngModel)]="row.price" />
      </td>
    </ng-container>

    <ng-container matColumnDef="iconMeaning">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Icon Meaning</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isEditing">{{ row.iconMeaning }}</ng-container>
        <select *ngIf="row.isEditing" [(ngModel)]="row.iconMeaning">
          <option value="spicy">Spicy</option>
          <option value="vegan">Vegan</option>
          <option value="vegi">Vegi</option>
        </select>
      </td>
    </ng-container>

    <ng-container matColumnDef="restaurant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>RESTAURANT</th>
      <td mat-cell *matCellDef="let row">
        {{ row.restaurant.title }}
      </td>
    </ng-container>


    <ng-container matColumnDef="deleted">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DELETED</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="!row.isEditing">{{ row.deleted }}</ng-container>
        <select *ngIf="row.isEditing" [(ngModel)]="row.deleted">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>EDIT</th>
      <td mat-cell *matCellDef="let row">
        <button (click)="toggleEditMode(row)">
          {{ row.isEditing ? 'Save' : 'Edit' }}
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
  </mat-paginator>
</div>